body {
  font: 20px Helvetica, serif;
  text-align: center;
}
div {
  margin-top: 1em;
}
.lauseke {
  display: inline-block;
  width: 3em;
}
.vastaus {
  width: 2em;
  font-size: 40px;
}
.kysymys {
  text-align: center;
  font-size: 40px;
}
form {
  display: inline-block;
}
.tulos {
  color: darkred;
}
.correct {
  color: green;
}
.pisteet {
}

.pulse {
  display: inline-block;
  animation-name: pulse_animation;
  animation-duration: 500ms;
  transform-origin:50% 50%;
  animation-timing-function: linear;
}
@keyframes pulse_animation {
  0% { transform: scale(1); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}
